body {
    font-family: 'PT Sans', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 10fr;
    grid-template-rows: 150px 1fr;
}

.option-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;

}

.page-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gif-column {
    width: 200px;
    height: auto;
}

.gif-container {
    position: relative;
}

.gif-rating {
    position: absolute;
    padding-right: 7px;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
}

.gif {
    width: 200px;
    height: auto;
}

@media only screen and (max-width: 815px) {
    .page-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 615px) {
    .page-container {
        grid-template-columns: 1fr 1fr;
    }
}